[submodule "Assets/Plugins/UnityUtilLib"]
	path = Assets/External/UnityUtilLib
	url = https://github.com/james7132/UnityUtilLib.git
[submodule "Assets/VFW"]
	path = Assets/VFW
	url = https://github.com/james7132/VFW.git
